.search-page-content {
    display: flex;
    justify-content: center;
}

*   {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

.header {
    background-color: #072AC8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    max-height: 50%;
}

.pokeball-image {
    width: calc(80px + 2vmin);
    position: absolute;
    right: -25px;
    top: -20px;
    opacity: .4;
}

.search-main-div {
    margin: 30px 10px;
    min-width: 50%;
}

.label-div {
    display: flex;
    justify-content: flex-start;
}

.label {
    font-size: calc(25px + 2vmin);
    text-align: left;
    margin-right: 50px;
}

.search-div {
    margin: 20px 0 5px 0;
    background-color: white;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    height: calc(35px + 2vmin)
}

.search-image {
    margin: auto 0 auto 20px;
    height: calc(30px + 2vmin)
}

.search-input {
    font-size: calc(7px + 1.5vmin);
    margin: 0 5px 0 20px;
    outline: none;
    border: none;
    width: 85%;
}

.search-button {
    background-color: black;
    border-radius: 40px;
    width: calc(100px + 1.5vmin);
    color: white;
    border: none;
    margin: 2px 2px 2px 2px;
    height: calc(30px + 2vmin);
    font-size: calc(10px + 1.5vmin);
}