.pokemon-types {
    font-family: Poppins, sans-serif;
    font-size: 11px;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: space-between;
}

.pokemon-type {
    width: 50px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;

}