.pokemon-header {
    background-color: #072AC8;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}   

.pokemon-header-pokeball-image {
    width: calc(80px + 2vmin);
    position: absolute;
    right: 20px;
    top: -20px;
    opacity: .4;
}

a > img{
    height: 98px;
    width: 96px;
}
@media only screen and (max-width: 767px) {
    .pokemon-header-pokeball-image {
        top: -16px;
    }
    a > img{
        height: 86px;
        width: 96px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .pokemon-header-pokeball-image {
        top: -10px;
    }
    a > img{
        height: 76px;
        width: 90px;
    }
}